parameters:
	level: max
	checkMissingIterableValueType: false
	scanDirectories:
		- %currentWorkingDirectory%/src/

	excludePaths:
		- %currentWorkingDirectory%/src/Controllers/*

includes:
	- %currentWorkingDirectory%/vendor/szepeviktor/phpstan-wordpress/extension.neon
