parameters:
	level: max
	checkMissingIterableValueType: false
	scanDirectories:
		- %currentWorkingDirectory%/src/

includes:
	- %currentWorkingDirectory%/vendor/szepeviktor/phpstan-wordpress/extension.neon
